<section>
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
      <img ng-src="{{ users.user.local.image }}">
        
        <div class="caption">
        <h3>{{ users.user.local.fullname | uppercase }}</h3>
          <p>{{ users.user.local.email }}</p>
        </div>

        <div class="panel panel-default" ng-repeat="comment in users.user.comments">
          <div class="panel-heading">
            <h3 class="panel-title">{{ comment.title }}</h3>
          </div>
          <div class="panel-body">
            {{ comment.description }}
            <span class="badge">{{ comment.rating }}</span>
          </div>
        </div>

        <a ui-sref="user-edit({ id: users.currentUser._id })">
          <h4 class="media-heading">Edit</h4>
        </a>
        
        <a href="#" ng-click="users.deleteUser(users.user)">
          <h4 class="media-heading">Delete</h4>
        </a>

      
      </div>
    </div>
  </div>
</section>
